*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 17px;
    font-weight: bold;
}

h5 {
    font-size: 15px;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

small {
    font-size: 12px;
}

.lead {
    font-size: 17px;
}

.primary {
    color: #ED1C24;
}

.dark-down {
    color: #333333;
}

.dark {
    color: #666666
}

.dark-up {
    color: #808080;
}

.white {
    color: #ffffff;
}

.light-down {
    color: #aaaaaa;
}

.light {
    color: #cccccc;
}

.light-medium {
    color: #E6E6E6;
}

.light-up {
    color: #aaaaaa;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container-loading {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }